<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tave7.dobdob" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".DobDobApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_dobdob"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_dobdob_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.DobDob" >

        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="@string/KAKAO_NATIVE_APP_KEY" />
            </intent-filter>
        </activity>
        <activity android:name=".InitialSettingActivity"/>
        <activity android:name=".DaumAddressActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".TagPostActivity"/>
        <activity android:name=".PostingActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".PostActivity"/>
        <activity android:name=".MyPageActivity"/>
        <activity android:name=".ModifyProfileActivity"/>
    </application>

</manifest>
